* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Calibri', sans-serif;
}

header {
    background-color: #FFFF;
    padding: 10px;
}

body {
    background-color: #F7F8F9;
}

.logo{
    vertical-align: middle;
}

h1 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

.menu {
    background-color: #FFFF;
    height: 70px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

.pulsanti {
    height: 70px;
    line-height: 70px;
    margin-left: 50px;
}

.btn1 {
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #48ADF1;
    color: #FFFF;
    border-style: none;
    border-radius: 10px;
}

.btn2 {
    margin: auto;
    padding: 0.5rem 1rem;
    border-style: solid;
    background-color: white;
    border-color: #CBD0D5;
    color: #CBD0D5;
    border-radius: 10px; 
    border-width: 1px; 
}

.lista {
    background-color: #FFFF;
    height: max-content;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

ul {
    font-size: 1.2rem;
    margin-left: 30px;
    list-style-type: none;
}

li {
    padding: 10px;
}

.cerchiog {
    display: inline-block;
    border-style: solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-color: #59BBA3;
    text-align: center;
    color: #59BBA3;
    font-size: 13px;
    border-width: 1px;
}

.cerchior {
    display: inline-block;
    border-style: solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-color: #FF0000;
    text-align: center;
    color: #FF0000;
    font-size: 13px;
    border-width: 1px;
}

.editorial {
    display: inline-block;
    width: 70px;
    background-color: #45ABEA;
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    color: #FFFF;
}

.Q1 {
    display: inline-block;
    width: 70px;
    background-color: #9C72E4;
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    color: #FFFF;
}

.recluiting {
    display: inline-block;
    width: 70px;
    background-color: #63C0A9;
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    color: #FFFF;
}

.mobile {
    display: inline-block;
    width: 70px;
    background-color: #F29E33;
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    color: #FFFF;
}

.website {
    display: inline-block;
    width: 70px;
    background-color: #D863A1;
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    color: #FFFF;
}

.sales {
    display: inline-block;
    width: 70px;
    background-color: #B0C927;
    font-size: 0.85rem;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    color: #FFFF;
}