* {
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFF;
    padding: 10px;
}

body {
    background-color: #F7F8F9;
}

.immagine {
    text-align: center;

}

.titolo {
    font-size: 40px;
}

.menu {
    background-color: #FFFF;
    height: 70px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

.pulsanti {
    height: 70px;
    line-height: 70px;
    margin-left: 50px;
}

.btn1 {
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #48ADF1;
    color: #FFFF;
    border-style: none;
    border-radius: 10px;
}

.btn2 {
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: groove;
    border-color: rgba(255, 255, 255, 0.9);
    color: #CBD0D5;
    border-radius: 10px;
    
}